---
import type { Text } from "engine:types/cms"
interface Props {
  data: Text
}
import { parse } from "@omidantilong/engine/contentful"

const { text } = Astro.props.data

const parsed = await parse(text)
//import Rsc from "./Rsc"
---

<div class="wrap">
  <Fragment set:html={parsed} />
  <!-- <Rsc text="bar" /> -->
</div>
