---
interface Props {
  data: Text
}
import { parse } from "engine/util/markdown"

const { text } = Astro.props.data

const parsed = await parse(text)
---

<div class="wrap">
  <Fragment set:html={parsed} />
</div>
