---
interface Props {
  data: Text
}
import { parse } from "../../util/content"

const { title, text } = Astro.props.data
//const parsed = micromark(text)

const parsed = await parse(text)
//console.log(parsed)
//return <div>{parsed}</div>
---

<Fragment set:html={parsed} />
 ../../util/content
