---
interface Props {
  data: Hero
}

const { heroHeading, heroBody, link, image } = Astro.props.data
import { reduceRatio } from "engine/util/reduceRatio"
console.log(image)
const ratio = reduceRatio(image.width, image.height)
//console.log(Astro.props.data)
---

<div class="cws-hero-container">
  <div class="wrap flex">
    <div class="pr-8">
      <h1>{heroHeading}</h1>
      <p set:html={heroBody} />
      {link && "url" in link && <a href={link.url}>{link.title}</a>}
    </div>
    {
      image && image.url && (
        <img style={{ aspectRatio: ratio[0] + "/" + ratio[1] }} src={image.url + "?q=60&fm=webp"} />
      )
    }
  </div>
</div>
