---
import type { EditorialCard } from "types/cms"

interface Props extends Partial<EditorialCard> {
  data?: Partial<EditorialCard>
}

import LinkWrapper from "../LinkWrapper/LinkWrapper.astro"

import { parse } from "@omidantilong/engine/contentful"

const { data } = Astro.props

const cardBody = Astro.slots["card-body"]
  ? await Astro.slots.render("card-body")
  : data && data.cardBody && `<p>${await parse(data.cardBody)}</p>`

const cardHeading = Astro.slots["card-header"]
  ? await Astro.slots.render("card-header")
  : data && data.cardHeading && `<h3>${data.cardHeading}</h3>`

//console.log(cardBody)
---

<article class="cws-editorial-card">
  <LinkWrapper data={(data && data.link) || false}>
    <Fragment set:html={cardHeading} />
    <Fragment set:html={cardBody} />
  </LinkWrapper>
</article>

<!-- <style>
  @import "./EditorialCard.scss";
</style> -->
