---
export const prerender = false

import Layout from "../layouts/Layout.astro"
import { pageNotFound } from "../util/responses"
import { getPage, getFullPath } from "../lib/contentful"

//import { getPage, getFullPath } from "../lib/contentfulLegacy"

const { slug: rawSlug } = Astro.params

// Return 404 if no slug provided
if (!rawSlug) return pageNotFound()

const slug = rawSlug.split("/").at(-1)!

const { data } = await getPage({ slug })

// Return 404 if there is no page with that slug
if (!data?.pageCollection?.items.length) return pageNotFound()

const page = data.pageCollection.items[0]
const path = getFullPath({ page })
//console.log(path)
// At this point we have looked up the page
// but if the full path is incorrect return a 404
if (path !== rawSlug) return pageNotFound()
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="wrap">
      <h1>{page.title}</h1>
      <time>date</time>
      <article set:html={"plop"} />
    </div>
  </main>
</Layout>
