---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section/Section"

import { pageNotFound } from "../util/responses"
//import { getPage, getFullPath } from "../lib/contentful"

import { getPage, getFullPath } from "../lib/contentfulLegacy"

const pathname = Astro.url.pathname

// Return 404 if no slug provided
if (!Astro.params.slug) return pageNotFound()

const { data } = await getPage({ pathname })

// Redirect if data.redirect is true
if (data.redirect) return Astro.redirect(data.to)

// Return 404 if there is no page with that slug
if (!data?.pageCollection?.items.length) return pageNotFound()

const page = data.pageCollection.items[0]
const path = getFullPath(page)

// At this point we have looked up the page
// but if the full path is incorrect return a 404
// Is there a better way to handle this... probably
if (path !== pathname) return pageNotFound()

const modules: ContentComponent[] = page.modulesCollection.items
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="wrap">
      <h1>{page.title}</h1>
      <time>date</time>
      {
        modules.map((module) => {
          if (module.type === "Section") return <Section data={module} />
        })
      }
    </div>
  </main>
</Layout>
