---
import Layout from "@omidantilong/engine/layouts/Layout.astro"

import { Card } from "@omidantilong/react"

export const prerender = true
---

<Layout title="Static test page">
  <div class="wrap">
    <h1>Static page</h1>
    <time>date</time>
    <article set:html={"this is some static content"} />

    <Card client:only text="react card component" />
  </div>
</Layout>
