---
import type { Video } from "types/cms"

interface Props extends Video {}

import { parse } from "@omidantilong/engine/contentful"

const { videoUrl, transcript } = Astro.props

const videoId = videoUrl.split("v=")[1]

const parsedText = await parse(transcript)
---

<div class="wrap">
  <iframe
    class="coop-c-video__frame"
    src=`https://www.youtube.com/embed/${videoId}`
    allow="autoplay; encrypted-media"
    allowfullscreen></iframe>

  <p set:html={parsedText} />
</div>
