---
interface Props {
  data: Section
}

import EditorialCard from "../EditorialCard/EditorialCard.astro"

const { type, title, contentCollection } = Astro.props.data
//console.log(contentCollection)
---

<h2>{title}</h2>
{
  contentCollection.items.length &&
    contentCollection.items.map((content: ContentComponent) => {
      if (content.type === "EditorialCard") return <EditorialCard data={content} />
    })
}
