---
interface Props {
  data: Section
}

import { resolveLinks } from "../../lib/contentfulLegacy"
import EditorialCard from "../EditorialCard/EditorialCard.astro"

const { title, contentCollection } = Astro.props.data
const links = await resolveLinks(contentCollection.items)
---

<h2>{title}</h2>
{
  contentCollection.items.length &&
    contentCollection.items.map((entry: ContentComponent) => {
      if ("link" in entry) entry.link = links[entry.sys.id]
      if (entry.type === "EditorialCard") return <EditorialCard data={entry} />
    })
}
