---
interface Props {
  data: Section
}

import { resolveLinks } from "../../lib/contentfulLegacy"
import EditorialCard from "../EditorialCard/EditorialCard.astro"

const { title, contentCollection } = Astro.props.data
const links = await resolveLinks(contentCollection.items)

const entries: Entry[] = contentCollection.items || []
---

<section class="wrap">
  <h2>{title}</h2>
  <div class="cws-grid">
    {
      entries.map((entry) => {
        if ("link" in entry) entry.link = links[entry.sys.id]
        if (entry.type === "EditorialCard") return <EditorialCard data={entry} />
      })
    }
  </div>
</section>
