---
import type { Section } from "engine:types/cms"

interface Props {
  data: Section
}

const { title, contentCollection } = Astro.props.data
const contentModules = contentCollection.items || []

import ContentModules from "@omidantilong/engine/components/ContentModules.astro"
---

<section class="wrap flow">
  <h2>{title}</h2>
  <div class="cws-grid">
    <ContentModules data={contentModules} />
  </div>
</section>
