---
interface Props {
  data: Section
}

import { resolveLinks } from "../../lib/contentfulLegacy"
//import EditorialCard from "@/components/EditorialCard/EditorialCard.astro"

import * as components from "@/components"

const { title, contentCollection } = Astro.props.data
const links = await resolveLinks(contentCollection.items)

const entries: Entry[] = contentCollection.items || []
---

<section class="wrap">
  <h2>{title}</h2>
  <div class="cws-grid">
    {
      entries.map((entry) => {
        if (components[entry.type]) {
          if ("link" in entry) entry.link = links[entry.sys.id]
          //const Component = components[entry.type]
          const Component = components[entry.type] as any
          return <Component data={entry} />
        }
      })
    }
  </div>
</section>
