---
import { getEntry } from "@omidantilong/engine/contentful"
import type { PressReleasePage } from "types/cms"
const { ref } = Astro.locals.engine

const { entry } = await getEntry<PressReleasePage>(ref)

//const entry = data.entry

if (entry.type !== "PressRelease") {
  return Astro.redirect("/")
}
---

<div>{JSON.stringify(ref)}</div>
<div>{JSON.stringify(entry)}</div>
